<html>
    <head>
        <title>
            EmployeePayRoll....
        </title>
         <link rel="stylesheet" href="~/css/empstyle.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        </head>
          <body>
        <header>
        <img src="~/images/payroll-head.jpeg"  style="width:100%; height:230px" />
    
        <div>
            <ul class="nav nav-tabs">
               

              <li class="nav-item">
                <a class="nav-link "  asp-action="Home">Home</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" asp-action="Employees">Employees</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" asp-action="Attendence">Attendence</a>
              </li>
             
             

             
              <li class="nav-item">
                <a class="nav-link" asp-action="Leave">Leaves</a>
              </li>


              
             
               
   

               <li class="nav-item">
                <a class="nav-link" asp-controller="Emp"  asp-action="Logout" >Logout</a>
              </li>



            
            </ul>
 
        </div>
        </header>
       <div >
            @RenderBody()

        </div>
      
    </body>
</html>