<!DOCTYPE html>

<html>
 <head>
        <title>
            EmployeePayRoll....
        </title>
         <link rel="stylesheet" href="~/css/emp.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        </head>
<body>
  
    <div >

        @RenderBody()
    </div>
</body>
</html>
