@{
    Layout = "_Layout1";
}

<tr>

        <td style="margin-top:150px;">You are Loggedout  Successfully Please Login Again</td>
        <td><a asp-action="Login"  value="Login" class="btn btn-link">Login</a></td>
    </tr>
