


<form method="post">

    <h1 class="text-center" ><b>Mark Your Attendence By clicking on Start Your Day</b></h1>




    <button type="submit" class="btn btn-info"  >Start Your Day</button>
</form>
@ViewData["a"]

